.container{
    max-width: 1200px;
    margin: auto 120px;
}

section{
    width: 1440px;
}

h3{
   font-family: 'Roboto Slab', serif;
   font-size: 56px;
   font-weight: 700;
   margin-top: 200px;
   margin-bottom: 100px;
}

.format-body--head{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #1E4681;
}

.format-body--content{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 260px;
    margin-right: 116px;
    line-height: 24px;
}

.format-body{
    display: flex;
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 660px;
}