@media screen and (max-width:375px) {

    .container{
        max-width: 303px;
        margin: auto 36px;
    }
    
    h3{
       font-family: 'Roboto Slab', serif;
       font-size: 26px;
       font-weight: 700;
       margin-top: 70px;
       margin-bottom: 32px;
    }
    
    .format-body--head{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #1E4681;
    }
    
    .format-body--content{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 400;
        width: 176px;
        margin-bottom: 34px;
        line-height: 13px;
    }
    
    .format-body{
        display: flex;
        flex-direction: column;
    }
    
    li{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        width: 300px;
    }
    
}